[Unit]
Description=Redis Server

[Service]
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStartPre=-/usr/bin/docker pull mysql
ExecStart=/usr/bin/docker run -rm --name redis-server redis
ExecStop=/usr/bin/docker stop redis